<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>


<p><b>Count: <%= @searchcounts %></b></p>

<p><b style="float:right"><%= paginate @employees %></b></p>

<table class="pretty">
  <tr>
    <th><%= sortable "FirstName" %></th>
    <th><%= sortable "LastName" %></th>
    <th><%= sortable "PhoneExtension" %></th>
    <th><%= sortable "BusinessPhone" %></th>
    <th><%= sortable "DeskNumber" %></th>
    <th><%= sortable "Department" %></th>   
    <th><%= sortable "Title" %></th>
    <th><%= sortable "SupervisorName" %></th>       
    <th><%= sortable "Cell" %></th>     
    <th><%= "Picture" %></th>         
  </tr>
  <% for employee in @employees %>
    <tr>
      <td><%= employee.FirstName %></td>
      <td><%= employee.LastName %></td>
      <td><%= employee.PhoneExtension %></td>
      <td><%= employee.BusinessPhone %></td>
      <td><%= employee.DeskNumber %></td>
      <td><%= employee.Department %></td>    
      <td><%= employee.Title %></td>
      <td><%= employee.SupervisorName %></td>             
      <td><%= employee.Cell %></td>   
      <% if not employee.thumbnailPhoto.nil? %>  
	    <td><%= ('<img src="data:image/jpg;base64,%s" height="50" width="50">' % Base64.encode64(employee.thumbnailPhoto||"rails.png")).html_safe %></td>  
	  <% else %>  
	    <td><%= image_tag("moda_logo.png") %> </td>
	  <% end %>     
    </tr>
  <% end %>
</table>

<b><%= paginate @employees %></b>
