
<%= javascript_include_tag "highcharts" %>

<script type="text/javascript">           
	$(document).ready(function() {
		$("#search").keydown(function(event) {
			// Allow only backspace and delete
			if ( 
				event.keyCode >= 48 && event.keyCode <= 57 || 
				event.keyCode >= 65 && event.keyCode <= 90 || 
				event.keyCode >= 96 && event.keyCode <= 105 ||
				event.keyCode == 8 || 
				event.keyCode == 32 || 
				event.keyCode == 35 || 
				event.keyCode == 36 || 						
				event.keyCode == 37 || 
				event.keyCode == 39 ||
				event.keyCode == 46 ||		
				event.keyCode == 109 ||	
				event.keyCode == 189 ||																	
				event.keyCode == 222				
			) 
			{
	    			// let it happen, don't do anything
			}
			else {
	            event.preventDefault();  
			}
		});
	});
</script>	

<%= form_tag employees_path, :method => 'get', :id => "employees_search" do %>

  <% if request.user_agent.include?("iPhone") %>
  <div id="box">
    <div id="inputfield"><b id="searchlable">Search</b><%= text_field_tag :search, params[:search] %></div><b>
  </div>  
    <div id="iphone"><%= render 'employeesiphone' %></div>  

  <% else %>
    <p>
      <b>Search</b> <%= text_field_tag :search, params[:search] %> 
    </p>  
    <div id="employees"><%= render 'employees' %></div>  
  <%end%>
  

<% end %>            


<% if not request.user_agent.include?("iPhone") %>

	<script type="text/javascript">
		var chart1;
		var chart2;	
		var chart3;			
		$(document).ready(function() {
			chart1 = new Highcharts.Chart({
				chart: {
					renderTo: 'chart_anniversary', 
					defaultSeriesType: 'column'							
				},
				title: {
					text: 'ODS Employee Seniority Chart'
				},
			    subtitle: {
			        text: 'Total Employees as of today: ' + <%= total_employees %>,
			        floating: true,
			        align: 'left',
			        x: 100,
			        y: 95
			    },					
				xAxis: {
					labels: {
						formatter: function() {
							return this.value; // clean, unformatted number for year
						}
					}							
				},
				yAxis: {
	                max: 210,		                        					
					title: {
						text: 'Numbers of Employees'
					},
					labels: {
						formatter: function() {
							return this.value ;
						}
					}
				},
				tooltip: {
					formatter: function() {
						return Highcharts.numberFormat(this.y, 0) +' current employees were hired in '+ this.x;
					}
				},
				plotOptions: {
					column: {
						pointStart: 1976,
						marker: {
							enabled: false,
							symbol: 'circle',
							radius: 2,
							states: {
								hover: {
									enabled: true
								}
							}
						}
					}
				},
				series: [{
					name: 'Anniversary Year',				
					data:  <%= data_anniversary %>
				}]
			});
	
			chart2 = new Highcharts.Chart({
				chart: {
					renderTo: 'chart_location',
					plotBackgroundColor: null,
					plotBorderWidth: null,
					plotShadow: false
				},
				title: {
					text: 'ODS Employee by Location'
				},					
				tooltip: {
					formatter: function() {
						return '<b>'+ this.point.name +'</b>: '+ this.y;
					}
				},
				plotOptions: {
					pie: {
						allowPointSelect: true,
						cursor: 'pointer',
						dataLabels: {
							enabled: true,
							color: '#000000',
							connectorColor: '#000000',
							formatter: function() {
								return '<b>'+ this.point.name +'</b>: '+ this.y;
							}
						}
					}
				},
			    series: [{
					type: 'pie',
					data: <%= data_location.inspect.html_safe %>
				}]
			});	
			
			chart3 = new Highcharts.Chart({
				chart: {
					renderTo: 'chart_department',
					plotBackgroundColor: null,
					plotBorderWidth: null,
					plotShadow: false
				},
				title: {
					text: 'ODS Employee by Department'
				},					
				tooltip: {
					formatter: function() {
						return '<b>'+ this.point.name +'</b>: '+ this.y;
					}
				},
				plotOptions: {
					pie: {
						allowPointSelect: true,
						cursor: 'pointer',
						dataLabels: {
							enabled: true,
							color: '#000000',
							connectorColor: '#000000',
							formatter: function() {
								return '<b>'+ this.point.name +'</b>: '+ this.y;
							}
						}
					}
				},
			    series: [{
					type: 'pie',
					data: <%= data_department.inspect.html_safe %>
				}]
			});				
						
			
	
		});
		
		$(document).ready(function(){
	      $("#search").focus();
	    });
	
	</script>		

<%end%>



