<%= form_tag employees_path, :method => 'get', remote: true, :id => "employees_search" do %>

  <% if request.user_agent.include?("iPhone") %>
  <div id="box">
    <div id="inputfield"><b id="searchlable">Search</b><%= text_field_tag :search, params[:search] %></div><b>
  </div>  
    <div id="iphone"><%= render 'employeesiphone' %></div>  

  <% else %>
    <p>
      <b>Search</b> <%= text_field_tag :search, params[:search] %> 
    </p>  
    <div id="employees"><%= render 'employees' %></div>  
  <%end%>
  

<% end %>            




