<!DOCTYPE html>
<html>
  <head>
  	<link rel="apple-touch-icon" href="/assets/odslogo.png" />
    <title>ODS Employee Quick Search</title>

    <%= javascript_include_tag "default" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    
    <% if request.user_agent.include?("iPhone") %>
    	<%= stylesheet_link_tag "iphone" %>
   		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
   <% else %>
      	<%= stylesheet_link_tag "application" %>
   <% end %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
